:root { 
  /* Main colors */
  --background: #f6f0e8; /* Beige cálido */
  --background-dark: #151312; /* Negro chocolate mate */
  --primary: #5b3a29; /* Marrón chocolate */
  --primary-dark: #442b1d; /* Marrón más intenso */
  --secondary: #312e2b; /* Gris marrón oscuro */

  /* Text colors */
  --text: #3b2d25; /* Marrón oscuro */
  --text-dark: #ffffff;
  --text-secondary: #8b7467; /* Marrón suave */
  --text-secondary-dark: #c7b3a6;

  /* Border colors */
  --border-color: #d6c5b6;
  --border-color-dark: #4a3d36;

  /* UI elements */
  --navbar-height: 4rem;
  --card-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
  --transition-speed: 0.3s;
}
